
/* Color Settings */
:root {
    --lightPink: #D42B8C;
    --secondaryPink: #7F1978;
    --secondaryPurple: #4D47AB;
    --primaryDark: #111827;
}

.c-white{
    color:white;
}

.c-primary{
    color: var(--lightPink);
}

.bg-pink{
    background-color: var(--lightPink);
}

/* Defaulting */
html {scroll-behavior: smooth;}
body{
    overflow-x: hidden;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.3s;
}
a:hover{text-decoration: none;}

/* Button Styles */
.btn-white{
    background-color: white;
    min-width: 200px;
    border: none;
    box-shadow: 0 5px 20px var(--primaryDark);
}
.btn-custom-gradient{
    background-image: linear-gradient(to right, var(--secondaryPink), var(--lightPink), var(--secondaryPurple));
    color: white;
    font-weight: bold;
    min-width: 200px;
    border: none;
    box-shadow: 0 5px 20px var(--primaryDark);
}
.btn-custom-gradient:hover{
    color: white;
}
.btn-action-view{
    color: black;
}
.btn-action-view:hover{
    color: var(--lightPink);
}

.btn-round{
    border-radius: 50%;
    min-height: 100px;
    min-width: 100px;
    padding: 20px 10px;
    align-items: center;
}

.raise{
    transition: ease 0.3s;
}

.raise:hover,
.raise:focus {
  transform: translateY(-0.25em);
}

.btn-pink-round{
    background-color: var(--lightPink);
}
.btn-pink-round img{
    height: 50px;
    width: auto;
}

/* Text Styles */
.large-title{
    font-size: 2em;
    font-weight: bold;
}

.giant-title{
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Navigation Bar Styling */
.navbar-toggler i{
    color: var(--lightPink);
}
.navbar-logo{
    height: 80px;
    width: 80px;
}

.navbar-name h3{
    color: black;
}
.navbar-name p{
    color: var(--lightPink);
    font-size: 0.75em;
}

.nav-link{
    font-weight: bold;
    color: black;
    text-align: left;
}
.nav-link:hover{
    color: var(--lightPink);
}
.nav-link .link-num{
    color: var(--lightPink)
}

#socialInfo{
    display: none;
}

@media (min-width:1000px) {
    .navbar .nav-link::after{
        content: "";
        display: block;
        width: 50px;
        height: 5px;
        background: transparent;
        top: -15px;
    }   
    .navbar .nav-link.active::after{
        background: var(--lightPink);
    } 

    /* Sticky Social Links */
    #socialInfo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #socialInfo{
        position: fixed;
        right: 20px;
        top: 0;
    }
    #socialInfo p{
        writing-mode: vertical-lr;
        text-orientation: sideways-right;
        color: var(--lightPink);
    }
    #socialInfo a, #socialInfo a:hover{
        color: white;
    }
    #socialInfo .vertical-line{
        height: 300px;
        border-right: 1px solid var(--lightPink);
        width: 30px;
    }
}

/* Footer Styles */
.footer{
    margin-top: auto;
    border-top: 1px solid var(--lightPink);
    text-align: center;
    padding: 20px;
}

/* Contact Styles */
.input-group-text{
    background-color: var(--lightPink);
    color: white;
    border-color: var(--lightPink);
}

.input-group .form-control{
    background-color: transparent;
    border-color: var(--lightPink);
}

textarea.form-control{
    background-color: transparent;
    border-color: var(--lightPink);
}

textarea.form-control:focus{
    background-color: transparent;
}

@media(max-width:768px){
    .info-card p{
        width: 75%;
        margin: auto;
    }
    .main-picture{
        display: none;
    }
}

.upwork{
    margin-top: 10px;
    scale: 80%;
}

/* Other Styles */

.ribbon {
    position: absolute;
    left: 0px; top: 0px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px; 
    text-align: left;
}

.ribbon span {
    font-size: 10px;
    color: #fff; 
    text-transform: uppercase; 
    text-align: center;
    font-weight: bold; line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px; display: block;
    background: #79A70A;
    background: var(--lightPink);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
}

.scrollable-content{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50vh;
    overflow-y: scroll;
}

.scrollable-content::-webkit-scrollbar {
    width: 12px;
}

.scrollable-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
}

.text-bold{
    font-weight: bold;
}